*{
    padding: 0%;
    margin: 0%;
}


div.haederKar {
    height: 100px;
    list-style: none;
    display: flex; /* Flexbox actief maken */
    align-items: center; /* Verticaal centreren */
    background-color: blue; /* Achtergrondkleur */
    position: relative;
    padding: 0 20px; /* Voeg wat ruimte aan de zijkanten toe */
}

img.BedrijfLogoKar {
    position: relative;
    left: 50%; /* Zorg dat het logo aan de linkerkant blijft */
}



img.Terugkeren {
    height: 30px;
    margin-left: auto;
}

/* lijst van gekochte artikelen */
ul#winkelkarlijst{
    list-style: none;
    border-radius: 8px;
    display: grid; /* Zet de lijst in een grid-layout */
    grid-template-columns: repeat(1,1fr); 
    gap: 20px; /* Ruimte tussen de kaarten */
    
}

li{
    background-color: red;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin-left: 30%;
}


img.printerAfbeelding{
    height: 100px;
    margin-top: 10px;
    
 
}